<h1>Edit movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<%# form_with defaults to `post`, we can change the HTTP verb by passing in the `method:` argument %>
<%= form_with(url: movie_path(@movie), method: :patch, data: { tubro: false }) do %>
  <div>
    <%= label_tag :title %>

    <%= text_field_tag :title, @movie.title %>
  </div>

  <div>
    <%= label_tag :description %>

    <%= text_area_tag :description, @movie.description, { rows: 3 } %>
  </div>

  <%= button_tag "Update Movie" %>
<% end %>
