<h1>New movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<%# form_with by default sets the form to `post` %>
<%= form_with(url: movies_path(@movie), data: { turbo: false }) do %>
  <div>
    <%# The first argument for a link_to tag is the `for=""` attribute, and the second argument is the copy we want shown %>
    <%# Leaving out the first argument, will populate the `for` attribute with the same argument as the second argument, and vice versa will call `.capitalize` on the first argument to prepopulate the second argument %>
    <%= label_tag :title %>

    <%# The first argument for the text_field_tag is the `name` attribute, the second argument is the value %>
    <%# The `id` attribute prefills with whatever you used as the argument for the `name` attribute, otherwise we can add it as a third argument %>
    <%= text_field_tag :title, @movie.title %>
  </div>

  <div>
    <%= label_tag :description %>

    <%= text_area_tag :description, @movie.description, { rows: 3 } %>
  </div>

  <%= button_tag "Create Movie" %>
<% end %>
